@model Product

@{ ViewData["Title"] = "Category"; }

<h1>@Model.name</h1>
<br/>
<b>Type: @Model.category</b>
<br/>
<b>Description: @Model.description</b>
<br/>
<b>CategoryID: @Model.id</b>
<br/>
<b>Price: $@Model.price</b>
<br/><br/><br/>
          <h3><a href="/home/linkpage">Return To Links</a></h3>